USE [DB_SocialNetwork]
GO
/****** Object:  UserDefinedFunction [dbo].[CountFollowers]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CountFollowers](@UserID int)
RETURNS int
AS
BEGIN
	RETURN (SELECT COUNT(*) FROM USER_RELATIONSHIPS
WHERE TO_USERS_ID=@UserID AND STATUS='following');
END;
GO
/****** Object:  UserDefinedFunction [dbo].[GetFollowStats]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetFollowStats](@UserID INT)
RETURNS VARCHAR(20)
AS
BEGIN
    DECLARE @Followers INT = (SELECT COUNT(*) FROM USER_RELATIONSHIPS WHERE TO_USERS_ID = @UserID AND STATUS = 'Following');
    DECLARE @Following INT = (SELECT COUNT(*) FROM USER_RELATIONSHIPS WHERE FROM_USERS_ID = @UserID AND STATUS = 'Following');

    RETURN CAST(@Followers AS VARCHAR) + '-' + CAST(@Following AS VARCHAR);
END;
GO
/****** Object:  UserDefinedFunction [dbo].[IsBlockedBetweenUsers]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* 1) Central function: IsBlockedBetweenUsers */
CREATE   FUNCTION [dbo].[IsBlockedBetweenUsers]
(
    @UserA INT,
    @UserB INT
)
RETURNS BIT
AS
BEGIN
    DECLARE @res BIT = 0;

    IF EXISTS (
        SELECT 1
        FROM dbo.USER_RELATIONSHIPS
        WHERE
            ((FROM_USERS_ID = @UserA AND TO_USERS_ID = @UserB)
             OR (FROM_USERS_ID = @UserB AND TO_USERS_ID = @UserA))
          AND STATUS = 'blocked'
    )
        SET @res = 1;

    RETURN @res;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[isFollowing]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[isFollowing](@FollowerID INT, @FollowingID INT) 
RETURNS VARCHAR(10)
AS
BEGIN
    DECLARE @Result VARCHAR(10);

    -- Proveravamo da li postoji veza između korisnika
    IF EXISTS (SELECT 1 FROM USER_RELATIONSHIPS 
               WHERE FROM_USERS_ID = @FollowerID 
               AND TO_USERS_ID = @FollowingID 
               AND STATUS = 'following')
        SET @Result = 'prati';
    ELSE
        SET @Result = 'ne prati';

    RETURN @Result;
END;
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[ROLES_ID] [int] NOT NULL,
	[FIRST_NAME] [varchar](40) NOT NULL,
	[LAST_NAME] [varchar](60) NOT NULL,
	[EMAIL] [varchar](100) NOT NULL,
	[USERNAME] [varchar](100) NULL,
	[GENDER] [varchar](10) NULL,
	[PROFILE_PIC] [varchar](255) NULL,
	[UPDATED_AT] [datetime] NULL,
	[USER_CREATED_AT] [datetime] NULL,
	[PASSWORD_HASH] [varbinary](256) NULL,
	[PASSWORD_SALT] [varbinary](128) NULL,
	[IS_BANNED] [bit] NOT NULL,
	[USERS_ID] [int] IDENTITY(1,1) NOT NULL,
	[BIO] [nvarchar](160) NULL,
 CONSTRAINT [PK_USERS] PRIMARY KEY CLUSTERED 
(
	[USERS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_RELATIONSHIPS]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_RELATIONSHIPS](
	[RELATIONSHIP_ID] [int] IDENTITY(1,1) NOT NULL,
	[FROM_USERS_ID] [int] NOT NULL,
	[TO_USERS_ID] [int] NOT NULL,
	[STATUS] [nvarchar](50) NOT NULL,
	[CREATED_AT] [datetime] NOT NULL,
	[UPDATED_AT] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RELATIONSHIP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Top5MostFollowedUsers]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Top5MostFollowedUsers] AS
SELECT TOP 5
    u.USERS_ID, 
    u.USERNAME, 
    COUNT(ur.FROM_USERS_ID) AS FollowerCount
FROM USERS u
LEFT JOIN USER_RELATIONSHIPS ur 
    ON ur.TO_USERS_ID = u.USERS_ID AND ur.STATUS = 'Following'
GROUP BY u.USERS_ID, u.USERNAME
ORDER BY FollowerCount DESC;
GO
/****** Object:  Table [dbo].[LIKES]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIKES](
	[USERS_ID] [int] NOT NULL,
	[POSTS_ID] [int] NOT NULL,
	[LIKE_CREATED_AT] [datetime] NULL,
	[LIKES_ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_LIKES] PRIMARY KEY CLUSTERED 
(
	[LIKES_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POSTS]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSTS](
	[POSTS_ID] [int] IDENTITY(1,1) NOT NULL,
	[USERS_ID] [int] NOT NULL,
	[POST_TEXT] [nvarchar](500) NOT NULL,
	[POST_IMG] [nvarchar](255) NULL,
	[POST_CREATED_AT] [datetime] NOT NULL,
	[IS_DELETED] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[POSTS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMMENTS]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMMENTS](
	[COMMENTS_ID] [int] IDENTITY(1,1) NOT NULL,
	[USERS_ID] [int] NOT NULL,
	[POSTS_ID] [int] NOT NULL,
	[COMMENT_TEXT] [nvarchar](500) NOT NULL,
	[COMMENT_CREATED_AT] [datetime] NOT NULL,
	[UPDATED_AT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[COMMENTS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_PostPopularity]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_PostPopularity]
AS
SELECT
    p.POSTS_ID,
    p.POST_TEXT,
    p.USERS_ID,
    COUNT(DISTINCT l.LIKES_ID) AS LikesCount,
    COUNT(DISTINCT c.COMMENTS_ID) AS CommentsCount,
    (COUNT(DISTINCT l.LIKES_ID) * 2 + COUNT(DISTINCT c.COMMENTS_ID)) AS PopularityScore
FROM POSTS p
LEFT JOIN LIKES l ON p.POSTS_ID = l.POSTS_ID
LEFT JOIN COMMENTS c ON p.POSTS_ID = c.POSTS_ID
GROUP BY p.POSTS_ID, p.POST_TEXT, p.USERS_ID;
GO
/****** Object:  View [dbo].[UserFriends]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[UserFriends] AS
SELECT 
    ur.FROM_USERS_ID AS RequestingUserID, 
    u.USERS_ID AS FriendUserID, u.USERNAME,  u.FIRST_NAME, 
    u.LAST_NAME, u.PROFILE_PIC
FROM  USERS u JOIN 
    USER_RELATIONSHIPS ur ON u.USERS_ID = ur.TO_USERS_ID
WHERE  ur.STATUS = 'following';
GO
/****** Object:  View [dbo].[PostComments]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PostComments] AS
SELECT p.POSTS_ID, p.POST_TEXT, c.COMMENTS_ID, c.COMMENT_TEXT, c.USERS_ID, u.USERNAME
FROM POSTS p
JOIN COMMENTS c ON p.POSTS_ID = c.POSTS_ID
JOIN USERS u ON c.USERS_ID = u.USERS_ID;
GO
/****** Object:  Table [dbo].[CONVERSATION_MEMBERS]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONVERSATION_MEMBERS](
	[CONVERSATION_ID] [int] NOT NULL,
	[USERS_ID] [int] NOT NULL,
	[JOINED_AT] [datetime] NOT NULL,
	[LAST_READ_AT] [datetime] NULL,
 CONSTRAINT [PK_CONVERSATION_MEMBERS] PRIMARY KEY CLUSTERED 
(
	[CONVERSATION_ID] ASC,
	[USERS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONVERSATIONS]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONVERSATIONS](
	[CONVERSATION_ID] [int] IDENTITY(1,1) NOT NULL,
	[IS_GROUP] [bit] NOT NULL,
	[TITLE] [nvarchar](100) NULL,
	[CREATED_AT] [datetime] NOT NULL,
	[UPDATED_AT] [datetime] NOT NULL,
	[DM_USER1_ID] [int] NULL,
	[DM_USER2_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CONVERSATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MESSAGES]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MESSAGES](
	[MESSAGES_ID] [int] IDENTITY(1,1) NOT NULL,
	[CONVERSATION_ID] [int] NULL,
	[FROM_USERS_ID] [int] NOT NULL,
	[TO_USERS_ID] [int] NULL,
	[MESSAGE_TEXT] [nvarchar](2000) NOT NULL,
	[SENT_AT] [datetime] NOT NULL,
	[SEEN_AT] [datetime] NULL,
	[IS_DELETED] [bit] NOT NULL,
	[DELIVERED_AT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MESSAGES_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOTIFICATIONS]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTIFICATIONS](
	[NOTIFICATIONS_ID] [int] IDENTITY(1,1) NOT NULL,
	[FROM_USERS_ID] [int] NOT NULL,
	[TO_USERS_ID] [int] NOT NULL,
	[POSTS_ID] [int] NULL,
	[NOTIFICATION_TEXT] [nvarchar](255) NOT NULL,
	[READ] [bit] NOT NULL,
	[NOTIFICATION_CREATED_AT] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NOTIFICATIONS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[ROLES_ID] [int] NOT NULL,
	[ROLE_NAME] [varchar](50) NOT NULL,
	[DESCRIPTION] [text] NULL,
 CONSTRAINT [PK_ROLES] PRIMARY KEY CLUSTERED 
(
	[ROLES_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[COMMENTS] ON 

INSERT [dbo].[COMMENTS] ([COMMENTS_ID], [USERS_ID], [POSTS_ID], [COMMENT_TEXT], [COMMENT_CREATED_AT], [UPDATED_AT]) VALUES (1, 2, 1, N'Odlican post!', CAST(N'2025-03-11T19:41:27.283' AS DateTime), NULL)
INSERT [dbo].[COMMENTS] ([COMMENTS_ID], [USERS_ID], [POSTS_ID], [COMMENT_TEXT], [COMMENT_CREATED_AT], [UPDATED_AT]) VALUES (2, 3, 2, N'Gde je ovo snimljeno?', CAST(N'2025-03-11T19:41:27.283' AS DateTime), NULL)
INSERT [dbo].[COMMENTS] ([COMMENTS_ID], [USERS_ID], [POSTS_ID], [COMMENT_TEXT], [COMMENT_CREATED_AT], [UPDATED_AT]) VALUES (3, 4, 3, N'Apsolutno se slažem!', CAST(N'2025-03-11T19:41:27.283' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[COMMENTS] OFF
GO
INSERT [dbo].[CONVERSATION_MEMBERS] ([CONVERSATION_ID], [USERS_ID], [JOINED_AT], [LAST_READ_AT]) VALUES (1, 1, CAST(N'2025-12-31T17:20:02.463' AS DateTime), CAST(N'2026-01-01T14:12:10.580' AS DateTime))
INSERT [dbo].[CONVERSATION_MEMBERS] ([CONVERSATION_ID], [USERS_ID], [JOINED_AT], [LAST_READ_AT]) VALUES (1, 2, CAST(N'2025-12-31T17:20:02.480' AS DateTime), CAST(N'2026-01-01T14:21:42.287' AS DateTime))
INSERT [dbo].[CONVERSATION_MEMBERS] ([CONVERSATION_ID], [USERS_ID], [JOINED_AT], [LAST_READ_AT]) VALUES (2, 1, CAST(N'2025-12-31T17:20:02.463' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[CONVERSATIONS] ON 

INSERT [dbo].[CONVERSATIONS] ([CONVERSATION_ID], [IS_GROUP], [TITLE], [CREATED_AT], [UPDATED_AT], [DM_USER1_ID], [DM_USER2_ID]) VALUES (1, 0, NULL, CAST(N'2025-12-31T17:19:55.697' AS DateTime), CAST(N'2026-01-01T14:21:42.287' AS DateTime), 1, 2)
INSERT [dbo].[CONVERSATIONS] ([CONVERSATION_ID], [IS_GROUP], [TITLE], [CREATED_AT], [UPDATED_AT], [DM_USER1_ID], [DM_USER2_ID]) VALUES (2, 0, NULL, CAST(N'2025-12-31T17:19:55.697' AS DateTime), CAST(N'2025-12-31T17:19:55.697' AS DateTime), 1, 5)
INSERT [dbo].[CONVERSATIONS] ([CONVERSATION_ID], [IS_GROUP], [TITLE], [CREATED_AT], [UPDATED_AT], [DM_USER1_ID], [DM_USER2_ID]) VALUES (3, 0, NULL, CAST(N'2025-12-31T17:19:55.697' AS DateTime), CAST(N'2025-12-31T17:19:55.697' AS DateTime), 2, 3)
SET IDENTITY_INSERT [dbo].[CONVERSATIONS] OFF
GO
SET IDENTITY_INSERT [dbo].[LIKES] ON 

INSERT [dbo].[LIKES] ([USERS_ID], [POSTS_ID], [LIKE_CREATED_AT], [LIKES_ID]) VALUES (2, 1, CAST(N'2025-03-11T19:41:27.283' AS DateTime), 1)
INSERT [dbo].[LIKES] ([USERS_ID], [POSTS_ID], [LIKE_CREATED_AT], [LIKES_ID]) VALUES (3, 2, CAST(N'2025-03-11T19:41:27.283' AS DateTime), 2)
INSERT [dbo].[LIKES] ([USERS_ID], [POSTS_ID], [LIKE_CREATED_AT], [LIKES_ID]) VALUES (4, 3, CAST(N'2025-03-11T19:41:27.283' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[LIKES] OFF
GO
SET IDENTITY_INSERT [dbo].[MESSAGES] ON 

INSERT [dbo].[MESSAGES] ([MESSAGES_ID], [CONVERSATION_ID], [FROM_USERS_ID], [TO_USERS_ID], [MESSAGE_TEXT], [SENT_AT], [SEEN_AT], [IS_DELETED], [DELIVERED_AT]) VALUES (1, 1, 1, 2, N'Cao Jovane! Kako si?', CAST(N'2025-03-11T19:41:27.283' AS DateTime), CAST(N'2026-01-20T18:31:51.347' AS DateTime), 0, NULL)
INSERT [dbo].[MESSAGES] ([MESSAGES_ID], [CONVERSATION_ID], [FROM_USERS_ID], [TO_USERS_ID], [MESSAGE_TEXT], [SENT_AT], [SEEN_AT], [IS_DELETED], [DELIVERED_AT]) VALUES (2, 3, 2, 3, N'Ana, kako ide projekt?', CAST(N'2025-03-11T19:41:27.283' AS DateTime), NULL, 0, NULL)
INSERT [dbo].[MESSAGES] ([MESSAGES_ID], [CONVERSATION_ID], [FROM_USERS_ID], [TO_USERS_ID], [MESSAGE_TEXT], [SENT_AT], [SEEN_AT], [IS_DELETED], [DELIVERED_AT]) VALUES (3, 4, 3, 4, N'Milice, super ti je novi post!', CAST(N'2025-03-11T19:41:27.283' AS DateTime), NULL, 0, NULL)
SET IDENTITY_INSERT [dbo].[MESSAGES] OFF
GO
SET IDENTITY_INSERT [dbo].[NOTIFICATIONS] ON 

INSERT [dbo].[NOTIFICATIONS] ([NOTIFICATIONS_ID], [FROM_USERS_ID], [TO_USERS_ID], [POSTS_ID], [NOTIFICATION_TEXT], [READ], [NOTIFICATION_CREATED_AT]) VALUES (1, 2, 1, 1, N'Jovan je lajkovao tvoj post.', 1, CAST(N'2025-03-11T19:41:27.287' AS DateTime))
INSERT [dbo].[NOTIFICATIONS] ([NOTIFICATIONS_ID], [FROM_USERS_ID], [TO_USERS_ID], [POSTS_ID], [NOTIFICATION_TEXT], [READ], [NOTIFICATION_CREATED_AT]) VALUES (2, 3, 2, 2, N'Ana je komentarisala tvoj post.', 1, CAST(N'2025-03-11T19:41:27.287' AS DateTime))
INSERT [dbo].[NOTIFICATIONS] ([NOTIFICATIONS_ID], [FROM_USERS_ID], [TO_USERS_ID], [POSTS_ID], [NOTIFICATION_TEXT], [READ], [NOTIFICATION_CREATED_AT]) VALUES (3, 4, 3, 3, N'Milica je dodala novi komentar.', 1, CAST(N'2025-03-11T19:41:27.287' AS DateTime))
SET IDENTITY_INSERT [dbo].[NOTIFICATIONS] OFF
GO
SET IDENTITY_INSERT [dbo].[POSTS] ON 

INSERT [dbo].[POSTS] ([POSTS_ID], [USERS_ID], [POST_TEXT], [POST_IMG], [POST_CREATED_AT], [IS_DELETED]) VALUES (1, 1, N'Prvi post na mojoj mreži!', N'posts/post1.jpg', CAST(N'2025-03-11T19:41:27.283' AS DateTime), 0)
INSERT [dbo].[POSTS] ([POSTS_ID], [USERS_ID], [POST_TEXT], [POST_IMG], [POST_CREATED_AT], [IS_DELETED]) VALUES (2, 2, N'Uživam u prirodi.', N'posts/priroda.jpg', CAST(N'2025-03-11T19:41:27.283' AS DateTime), 0)
INSERT [dbo].[POSTS] ([POSTS_ID], [USERS_ID], [POST_TEXT], [POST_IMG], [POST_CREATED_AT], [IS_DELETED]) VALUES (3, 3, N'Programiranje je super!', N'posts/javaskript.jpg', CAST(N'2025-03-11T19:41:27.283' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[POSTS] OFF
GO
INSERT [dbo].[ROLES] ([ROLES_ID], [ROLE_NAME], [DESCRIPTION]) VALUES (1, N'Korisnik', N'Osnovni korisnik sistema sa standardnim privilegijama.')
INSERT [dbo].[ROLES] ([ROLES_ID], [ROLE_NAME], [DESCRIPTION]) VALUES (2, N'Administrator', N'Korisnik sa administrativnim pravima i pristupom svim funkcijama sistema.')
GO
SET IDENTITY_INSERT [dbo].[USER_RELATIONSHIPS] ON 

INSERT [dbo].[USER_RELATIONSHIPS] ([RELATIONSHIP_ID], [FROM_USERS_ID], [TO_USERS_ID], [STATUS], [CREATED_AT], [UPDATED_AT]) VALUES (1, 2, 3, N'following', CAST(N'2025-03-11T19:41:27.287' AS DateTime), CAST(N'2025-03-11T19:41:27.287' AS DateTime))
INSERT [dbo].[USER_RELATIONSHIPS] ([RELATIONSHIP_ID], [FROM_USERS_ID], [TO_USERS_ID], [STATUS], [CREATED_AT], [UPDATED_AT]) VALUES (2, 3, 4, N'following', CAST(N'2025-03-11T19:41:27.287' AS DateTime), CAST(N'2025-03-11T19:41:27.287' AS DateTime))
INSERT [dbo].[USER_RELATIONSHIPS] ([RELATIONSHIP_ID], [FROM_USERS_ID], [TO_USERS_ID], [STATUS], [CREATED_AT], [UPDATED_AT]) VALUES (5, 1, 3, N'blocked', CAST(N'2025-03-11T19:41:27.287' AS DateTime), CAST(N'2025-03-11T19:41:27.287' AS DateTime))
SET IDENTITY_INSERT [dbo].[USER_RELATIONSHIPS] OFF
GO
SET IDENTITY_INSERT [dbo].[USERS] ON 

INSERT [dbo].[USERS] ([ROLES_ID], [FIRST_NAME], [LAST_NAME], [EMAIL], [USERNAME], [GENDER], [PROFILE_PIC], [UPDATED_AT], [USER_CREATED_AT], [PASSWORD_HASH], [PASSWORD_SALT], [IS_BANNED], [USERS_ID], [BIO]) VALUES (1, N'Marko', N'Petrovic', N'marko@example.com', N'marko_p', N'Male', N'profiles/d5536e4f44e34c43ad4aae141e206238.webp', CAST(N'2025-12-30T15:17:28.053' AS DateTime), CAST(N'2025-03-11T19:41:27.283' AS DateTime), 0xB0193EB992EB3B153C1C02491773ABFDBC9DEFC3D8BD94C909A33601AB860795, 0x4543E4792497900B1F43A67A7C39DA483A0FBC2E6B8C2CD9C0CAB6738C8106B4, 0, 1, NULL)
INSERT [dbo].[USERS] ([ROLES_ID], [FIRST_NAME], [LAST_NAME], [EMAIL], [USERNAME], [GENDER], [PROFILE_PIC], [UPDATED_AT], [USER_CREATED_AT], [PASSWORD_HASH], [PASSWORD_SALT], [IS_BANNED], [USERS_ID], [BIO]) VALUES (1, N'Jovan', N'Ilic', N'jovan@example.com', N'jovan_i', N'Male', N'profiles/profile2.jpg', CAST(N'2025-03-11T19:41:27.283' AS DateTime), CAST(N'2025-03-11T19:41:27.283' AS DateTime), 0x360C34051752208D79B7EE7F4D8146CE0512E02B643CC672CCDA5EBCEF75D4DF, 0xE2D1C4F6606BE0DF8F15E7FEDC558A4329F94E45FB4C6D43F71C19B3C402C274, 0, 2, NULL)
INSERT [dbo].[USERS] ([ROLES_ID], [FIRST_NAME], [LAST_NAME], [EMAIL], [USERNAME], [GENDER], [PROFILE_PIC], [UPDATED_AT], [USER_CREATED_AT], [PASSWORD_HASH], [PASSWORD_SALT], [IS_BANNED], [USERS_ID], [BIO]) VALUES (2, N'Ana', N'Jovanovic', N'ana@example.com', N'ana_j', N'Female', N'profiles/profile3.jpg', CAST(N'2025-03-11T19:41:27.283' AS DateTime), CAST(N'2025-03-11T19:41:27.283' AS DateTime), 0x627D68AC10876827446A598EE643115FFB550DEBCB9AD9BA6691295731404A97, 0x0C1915DB9E4C0118E80B4E3083FD68F90E2B5DCC4812CB69BAD0C52465078709, 0, 3, NULL)
SET IDENTITY_INSERT [dbo].[USERS] OFF
GO
ALTER TABLE [dbo].[CONVERSATION_MEMBERS] ADD  CONSTRAINT [DF_CONV_MEM_JOINED_AT]  DEFAULT (getdate()) FOR [JOINED_AT]
GO
ALTER TABLE [dbo].[CONVERSATIONS] ADD  CONSTRAINT [DF_CONVERSATIONS_IS_GROUP]  DEFAULT ((0)) FOR [IS_GROUP]
GO
ALTER TABLE [dbo].[CONVERSATIONS] ADD  CONSTRAINT [DF_CONVERSATIONS_CREATED_AT]  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[CONVERSATIONS] ADD  CONSTRAINT [DF_CONVERSATIONS_UPDATED_AT]  DEFAULT (getdate()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[LIKES] ADD  DEFAULT (getdate()) FOR [LIKE_CREATED_AT]
GO
ALTER TABLE [dbo].[MESSAGES] ADD  CONSTRAINT [DF_MESSAGES_SENT_AT]  DEFAULT (getdate()) FOR [SENT_AT]
GO
ALTER TABLE [dbo].[MESSAGES] ADD  CONSTRAINT [DF_MESSAGES_IS_DELETED]  DEFAULT ((0)) FOR [IS_DELETED]
GO
ALTER TABLE [dbo].[POSTS] ADD  DEFAULT ((0)) FOR [IS_DELETED]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT (getdate()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT (getdate()) FOR [USER_CREATED_AT]
GO
ALTER TABLE [dbo].[USERS] ADD  CONSTRAINT [DF_USERS_IS_BANNED]  DEFAULT ((0)) FOR [IS_BANNED]
GO
ALTER TABLE [dbo].[COMMENTS]  WITH CHECK ADD  CONSTRAINT [FK_COMMENTS_POSTS] FOREIGN KEY([POSTS_ID])
REFERENCES [dbo].[POSTS] ([POSTS_ID])
GO
ALTER TABLE [dbo].[COMMENTS] CHECK CONSTRAINT [FK_COMMENTS_POSTS]
GO
ALTER TABLE [dbo].[CONVERSATION_MEMBERS]  WITH CHECK ADD  CONSTRAINT [FK_CONV_MEM_CONVERSATIONS] FOREIGN KEY([CONVERSATION_ID])
REFERENCES [dbo].[CONVERSATIONS] ([CONVERSATION_ID])
GO
ALTER TABLE [dbo].[CONVERSATION_MEMBERS] CHECK CONSTRAINT [FK_CONV_MEM_CONVERSATIONS]
GO
ALTER TABLE [dbo].[CONVERSATION_MEMBERS]  WITH CHECK ADD  CONSTRAINT [FK_CONV_MEM_USERS] FOREIGN KEY([USERS_ID])
REFERENCES [dbo].[USERS] ([USERS_ID])
GO
ALTER TABLE [dbo].[CONVERSATION_MEMBERS] CHECK CONSTRAINT [FK_CONV_MEM_USERS]
GO
ALTER TABLE [dbo].[CONVERSATIONS]  WITH CHECK ADD  CONSTRAINT [FK_CONV_DM_USER1] FOREIGN KEY([DM_USER1_ID])
REFERENCES [dbo].[USERS] ([USERS_ID])
GO
ALTER TABLE [dbo].[CONVERSATIONS] CHECK CONSTRAINT [FK_CONV_DM_USER1]
GO
ALTER TABLE [dbo].[CONVERSATIONS]  WITH CHECK ADD  CONSTRAINT [FK_CONV_DM_USER2] FOREIGN KEY([DM_USER2_ID])
REFERENCES [dbo].[USERS] ([USERS_ID])
GO
ALTER TABLE [dbo].[CONVERSATIONS] CHECK CONSTRAINT [FK_CONV_DM_USER2]
GO
ALTER TABLE [dbo].[LIKES]  WITH CHECK ADD  CONSTRAINT [FK_LIKES_POSTS] FOREIGN KEY([POSTS_ID])
REFERENCES [dbo].[POSTS] ([POSTS_ID])
GO
ALTER TABLE [dbo].[LIKES] CHECK CONSTRAINT [FK_LIKES_POSTS]
GO
ALTER TABLE [dbo].[LIKES]  WITH CHECK ADD  CONSTRAINT [FK_LIKES_USERS] FOREIGN KEY([USERS_ID])
REFERENCES [dbo].[USERS] ([USERS_ID])
GO
ALTER TABLE [dbo].[LIKES] CHECK CONSTRAINT [FK_LIKES_USERS]
GO
ALTER TABLE [dbo].[MESSAGES]  WITH CHECK ADD  CONSTRAINT [FK_MESSAGES_V2_CONVERSATION] FOREIGN KEY([CONVERSATION_ID])
REFERENCES [dbo].[CONVERSATIONS] ([CONVERSATION_ID])
GO
ALTER TABLE [dbo].[MESSAGES] CHECK CONSTRAINT [FK_MESSAGES_V2_CONVERSATION]
GO
ALTER TABLE [dbo].[MESSAGES]  WITH CHECK ADD  CONSTRAINT [FK_MESSAGES_V2_FROM_USERS] FOREIGN KEY([FROM_USERS_ID])
REFERENCES [dbo].[USERS] ([USERS_ID])
GO
ALTER TABLE [dbo].[MESSAGES] CHECK CONSTRAINT [FK_MESSAGES_V2_FROM_USERS]
GO
ALTER TABLE [dbo].[MESSAGES]  WITH CHECK ADD  CONSTRAINT [FK_MESSAGES_V2_TO_USERS] FOREIGN KEY([TO_USERS_ID])
REFERENCES [dbo].[USERS] ([USERS_ID])
GO
ALTER TABLE [dbo].[MESSAGES] CHECK CONSTRAINT [FK_MESSAGES_V2_TO_USERS]
GO
/****** Object:  StoredProcedure [dbo].[AddComment]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[AddComment]
  @UserId INT,
  @PostId INT,
  @Text   NVARCHAR(1000)
AS
BEGIN
  SET NOCOUNT ON;

  INSERT INTO dbo.COMMENTS
    (USERS_ID, POSTS_ID, COMMENT_TEXT, COMMENT_CREATED_AT, UPDATED_AT)
  VALUES
    (@UserId, @PostId, @Text, GETDATE(), NULL);

  DECLARE @PostOwnerId INT;

  SELECT @PostOwnerId = USERS_ID
  FROM dbo.POSTS
  WHERE POSTS_ID = @PostId;

  IF @PostOwnerId IS NOT NULL AND @PostOwnerId <> @UserId
  BEGIN
    EXEC dbo.CreateNotification
      @FromUserId = @UserId,
      @ToUserId   = @PostOwnerId,
      @Text       = N'commented your post',
      @PostId     = @PostId;
  END
END
GO
/****** Object:  StoredProcedure [dbo].[AddLike]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[AddLike]
  @UserId INT,
  @PostId INT
AS
BEGIN
  SET NOCOUNT ON;

  -- (preporuka) spreči dupli like
  IF EXISTS (
    SELECT 1
    FROM dbo.LIKES
    WHERE USERS_ID = @UserId AND POSTS_ID = @PostId
  )
    RETURN;

  INSERT INTO dbo.LIKES (USERS_ID, POSTS_ID, LIKE_CREATED_AT)
  VALUES (@UserId, @PostId, SYSUTCDATETIME());

  DECLARE @PostOwnerId INT;

  SELECT @PostOwnerId = USERS_ID
  FROM dbo.POSTS
  WHERE POSTS_ID = @PostId;

  IF @PostOwnerId IS NOT NULL AND @PostOwnerId <> @UserId
  BEGIN
    EXEC dbo.CreateNotification
      @FromUserId = @UserId,
      @ToUserId   = @PostOwnerId,
      @Text       = N'liked your post',
      @PostId     = @PostId;
  END
END
GO
/****** Object:  StoredProcedure [dbo].[AddPost]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[AddPost]
    @UserId INT,
    @PostText NVARCHAR(500),
    @PostImg NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.POSTS (USERS_ID, POST_TEXT, POST_IMG, POST_CREATED_AT)
    VALUES (@UserId, @PostText, @PostImg, GETDATE());

    SELECT SCOPE_IDENTITY() AS NewPostId;
END;
GO
/****** Object:  StoredProcedure [dbo].[AddUser]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddUser]
    @FirstName VARCHAR(40),
    @LastName VARCHAR(60),
    @Email VARCHAR(100),
    @Password VARCHAR(255),
    @Username VARCHAR(100),
    @Gender VARCHAR(10),
    @ProfilePic VARCHAR(255),
    @RoleID INT
AS
BEGIN
    -- Provera da li email već postoji
    IF EXISTS (SELECT 1 FROM USERS WHERE EMAIL = @Email)
    BEGIN
        RAISERROR ('Email već postoji!', 16, 1);
        RETURN;
    END

    -- Provera da li korisničko ime već postoji
    IF EXISTS (SELECT 1 FROM USERS WHERE USERNAME = @Username)
    BEGIN
        RAISERROR ('Korisničko ime već postoji!', 16, 1);
        RETURN;
    END

    -- Ubacivanje novog korisnika
    INSERT INTO USERS (USERS_ID, ROLES_ID, FIRST_NAME, LAST_NAME, EMAIL, PASSWORD, USERNAME, GENDER, PROFILE_PIC)
    VALUES ((SELECT ISNULL(MAX(USERS_ID), 0) + 1 FROM USERS), @RoleID, @FirstName, @LastName, @Email, @Password, @Username, @Gender, @ProfilePic);
END;
GO
/****** Object:  StoredProcedure [dbo].[AdminBanUser]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[AdminBanUser]
    @AdminId INT,
    @UserId INT
AS
BEGIN
    UPDATE USERS
    SET IS_BANNED = 1
    WHERE USERS_ID = @UserId;
END
GO
/****** Object:  StoredProcedure [dbo].[BlockUser]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[BlockUser]
    @FromUserId INT,
    @ToUserId   INT
AS
BEGIN
    SET NOCOUNT ON;

    IF @FromUserId = @ToUserId
    BEGIN
        RAISERROR (50011, 16, 1); -- not allowed
        RETURN;
    END

    IF EXISTS (
        SELECT 1 FROM USER_RELATIONSHIPS
        WHERE FROM_USERS_ID = @FromUserId
          AND TO_USERS_ID   = @ToUserId
          AND STATUS = 'blocked'
    )
        RETURN;

    DELETE FROM USER_RELATIONSHIPS
    WHERE FROM_USERS_ID = @FromUserId
      AND TO_USERS_ID   = @ToUserId;

    INSERT INTO USER_RELATIONSHIPS
        (FROM_USERS_ID, TO_USERS_ID, STATUS, CREATED_AT)
    VALUES
        (@FromUserId, @ToUserId, 'blocked', GETDATE());
END
GO
/****** Object:  StoredProcedure [dbo].[CreateNotification]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[CreateNotification]
  @FromUserId INT,
  @ToUserId   INT,
  @Text       NVARCHAR(255),
  @PostId     INT = NULL
AS
BEGIN
  SET NOCOUNT ON;

  INSERT INTO dbo.NOTIFICATIONS
    (FROM_USERS_ID, TO_USERS_ID, POSTS_ID, NOTIFICATION_TEXT, [READ], NOTIFICATION_CREATED_AT)
  VALUES
    (@FromUserId, @ToUserId, @PostId, @Text, 0, GETDATE());
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteComment]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[DeleteComment]
    @CommentId INT,
    @UserId INT
AS
BEGIN
    IF NOT EXISTS (
        SELECT 1
        FROM COMMENTS c
        JOIN POSTS p ON p.POSTS_ID = c.POSTS_ID
        WHERE c.COMMENTS_ID = @CommentId
          AND (c.USERS_ID = @UserId OR p.USERS_ID = @UserId)
    )
    BEGIN
        RAISERROR (50011, 16, 1); -- not allowed
        RETURN;
    END

    DELETE FROM COMMENTS WHERE COMMENTS_ID = @CommentId;
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteMessage]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[DeleteMessage]
    @MessageId INT,
    @UserId INT,
    @IsAdmin BIT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (
        SELECT 1 FROM MESSAGES
        WHERE MESSAGES_ID = @MessageId
          AND (FROM_USERS_ID = @UserId OR @IsAdmin = 1)
    )
    BEGIN
        RAISERROR (50011, 16, 1); -- not allowed
        RETURN;
    END

    UPDATE MESSAGES
    SET IS_DELETED = 1
    WHERE MESSAGES_ID = @MessageId;
END
GO
/****** Object:  StoredProcedure [dbo].[DeletePostSoft]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DeletePostSoft]
    @PostId INT,
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.POSTS
    SET
        IS_DELETED = 1,
        POST_TEXT = NULL,
        POST_IMG = NULL
    WHERE POSTS_ID = @PostId
      AND USERS_ID = @UserId
      AND ISNULL(IS_DELETED, 0) = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[EditComment]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[EditComment]
    @CommentId        INT,
    @RequesterUserId  INT,
    @NewText          NVARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @CommentUserId INT;
    SELECT @CommentUserId = USERS_ID
    FROM dbo.COMMENTS
    WHERE COMMENTS_ID = @CommentId;

    IF @CommentUserId IS NULL
        THROW 50010, 'Comment not found.', 1;

    IF @RequesterUserId <> @CommentUserId
        THROW 50011, 'Not allowed.', 1;

    UPDATE dbo.COMMENTS
    SET COMMENT_TEXT = @NewText,
        UPDATED_AT   = GETDATE()
    WHERE COMMENTS_ID = @CommentId;
END;
GO
/****** Object:  StoredProcedure [dbo].[FollowUser]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[FollowUser]
    @FromUserId INT,
    @ToUserId   INT
AS
BEGIN
    SET NOCOUNT ON;

    -- (opciono) zabrani self-follow
    IF (@FromUserId = @ToUserId)
    BEGIN
        RAISERROR (50002, 16, 1); -- "Cannot follow yourself"
        RETURN;
    END

    -- ako postoji bilo kakav blocked odnos u oba smera -> zabrani
    IF EXISTS (
        SELECT 1
        FROM USER_RELATIONSHIPS
        WHERE (
              (FROM_USERS_ID = @FromUserId AND TO_USERS_ID = @ToUserId)
           OR (FROM_USERS_ID = @ToUserId   AND TO_USERS_ID = @FromUserId)
        )
        AND STATUS = 'blocked'
    )
    BEGIN
        RAISERROR (50001, 16, 1); -- "User is blocked"
        RETURN;
    END

    -- ako već prati -> ništa
    IF EXISTS (
        SELECT 1
        FROM USER_RELATIONSHIPS
        WHERE FROM_USERS_ID = @FromUserId
          AND TO_USERS_ID   = @ToUserId
          AND STATUS        = 'following'
    )
        RETURN;

    -- ✅ INSERT mora da popuni UPDATED_AT (i CREATED_AT)
    INSERT INTO USER_RELATIONSHIPS
        (FROM_USERS_ID, TO_USERS_ID, STATUS, CREATED_AT, UPDATED_AT)
    VALUES
        (@FromUserId, @ToUserId, 'following', GETDATE(), GETDATE());
END
GO
/****** Object:  StoredProcedure [dbo].[GetChatPeers]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetChatPeers]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH MyConversations AS (
        SELECT cm.CONVERSATION_ID
        FROM dbo.CONVERSATION_MEMBERS cm
        WHERE cm.USERS_ID = @UserId
    )
    SELECT DISTINCT cm2.USERS_ID AS PeerUserId
    FROM dbo.CONVERSATION_MEMBERS cm2
    INNER JOIN MyConversations mc ON mc.CONVERSATION_ID = cm2.CONVERSATION_ID
    WHERE cm2.USERS_ID <> @UserId;
END
GO
/****** Object:  StoredProcedure [dbo].[GetCommentsForPost]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetCommentsForPost]
    @PostId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        c.COMMENTS_ID       AS commentId,
        c.POSTS_ID          AS postId,
        c.USERS_ID          AS userId,
        u.USERNAME          AS username,
        u.PROFILE_PIC       AS profilePic,
        c.COMMENT_TEXT      AS commentText,
        c.COMMENT_CREATED_AT AS createdAt
    FROM dbo.COMMENTS c
    JOIN dbo.USERS u ON u.USERS_ID = c.USERS_ID
    WHERE c.POSTS_ID = @PostId
    ORDER BY c.COMMENT_CREATED_AT DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[GetConversationPeer]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetConversationPeer]
    @ConversationId INT,
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (
        SELECT 1 FROM dbo.CONVERSATION_MEMBERS
        WHERE CONVERSATION_ID = @ConversationId
          AND USERS_ID = @UserId
    )
    BEGIN
        RAISERROR (50003, 16, 1);
        RETURN;
    END

    SELECT TOP 1 cm.USERS_ID AS PeerUserId
    FROM dbo.CONVERSATION_MEMBERS cm
    WHERE cm.CONVERSATION_ID = @ConversationId
      AND cm.USERS_ID <> @UserId;
END
GO
/****** Object:  StoredProcedure [dbo].[GetFeed]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetFeed]
    @ViewerId INT,
    @Take INT = 30,
    @Before DATETIME2 = NULL
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH FollowedUsers AS (
        SELECT r.TO_USERS_ID AS AuthorId
        FROM dbo.USER_RELATIONSHIPS r
        WHERE r.FROM_USERS_ID = @ViewerId
          AND r.STATUS = 'following'
    ),
    NotBlocked AS (
        SELECT f.AuthorId
        FROM FollowedUsers f
        WHERE NOT EXISTS (
            SELECT 1
            FROM dbo.USER_RELATIONSHIPS b
            WHERE b.STATUS = 'blocked'
              AND (
                    (b.FROM_USERS_ID = @ViewerId AND b.TO_USERS_ID = f.AuthorId)
                 OR (b.FROM_USERS_ID = f.AuthorId AND b.TO_USERS_ID = @ViewerId)
              )
        )
    )
    SELECT TOP (@Take)
        p.POSTS_ID         AS PostId,
        p.USERS_ID         AS UserId,
        u.USERNAME         AS Username,
        u.PROFILE_PIC      AS ProfilePic,
        p.POST_TEXT        AS PostText,
        p.POST_IMG         AS PostImg,
        p.POST_CREATED_AT  AS CreatedAt,

        (SELECT COUNT(*) FROM dbo.LIKES l WHERE l.POSTS_ID = p.POSTS_ID)     AS LikeCount,
        (SELECT COUNT(*) FROM dbo.COMMENTS c WHERE c.POSTS_ID = p.POSTS_ID)  AS CommentCount,

        CASE WHEN EXISTS (
            SELECT 1
            FROM dbo.LIKES l
            WHERE l.POSTS_ID = p.POSTS_ID
              AND l.USERS_ID = @ViewerId
        ) THEN CAST(1 AS bit) ELSE CAST(0 AS bit) END AS IsLikedByMe

    FROM dbo.POSTS p
    INNER JOIN NotBlocked nb ON nb.AuthorId = p.USERS_ID
    INNER JOIN dbo.USERS u ON u.USERS_ID = p.USERS_ID
    WHERE ISNULL(p.IS_DELETED, 0) = 0
      AND (@Before IS NULL OR p.POST_CREATED_AT < @Before)
    ORDER BY p.POST_CREATED_AT DESC, p.POSTS_ID DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetInbox]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetInbox]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH MyConversations AS (
        SELECT
            cm.CONVERSATION_ID,
            PeerUserId = CASE 
                WHEN cm.USERS_ID = @UserId THEN cm2.USERS_ID 
                ELSE cm.USERS_ID 
            END
        FROM CONVERSATION_MEMBERS cm
        JOIN CONVERSATION_MEMBERS cm2
            ON cm.CONVERSATION_ID = cm2.CONVERSATION_ID
        WHERE cm.USERS_ID = @UserId
          AND cm2.USERS_ID <> @UserId
    ),
    LastMessages AS (
        SELECT
            m.CONVERSATION_ID,
            m.MESSAGE_TEXT,
            m.SENT_AT,
            rn = ROW_NUMBER() OVER (
                PARTITION BY m.CONVERSATION_ID
                ORDER BY m.SENT_AT DESC, m.MESSAGES_ID DESC
            )
        FROM MESSAGES m
        WHERE m.IS_DELETED = 0
    ),
    UnreadCounts AS (
        SELECT
            m.CONVERSATION_ID,
            COUNT(*) AS UnreadCount
        FROM MESSAGES m
        WHERE m.TO_USERS_ID = @UserId
          AND m.SEEN_AT IS NULL
          AND m.IS_DELETED = 0
        GROUP BY m.CONVERSATION_ID
    )
    SELECT
        c.CONVERSATION_ID        AS conversationId,
        c.PeerUserId             AS peerUserId,
        u.USERNAME               AS peerUsername,
        u.PROFILE_PIC            AS peerProfilePic,
        lm.MESSAGE_TEXT          AS lastMessageText,
        lm.SENT_AT               AS lastSentAt,
        ISNULL(uc.UnreadCount,0) AS unreadCount
    FROM MyConversations c
    JOIN USERS u ON u.USERS_ID = c.PeerUserId
    JOIN LastMessages lm 
        ON lm.CONVERSATION_ID = c.CONVERSATION_ID AND lm.rn = 1
    LEFT JOIN UnreadCounts uc 
        ON uc.CONVERSATION_ID = c.CONVERSATION_ID
    WHERE NOT EXISTS (
        SELECT 1
        FROM USER_RELATIONSHIPS r
        WHERE r.STATUS = 'blocked'
          AND (
               (r.FROM_USERS_ID = @UserId AND r.TO_USERS_ID = c.PeerUserId)
            OR (r.FROM_USERS_ID = c.PeerUserId AND r.TO_USERS_ID = @UserId)
          )
    )
    ORDER BY lm.SENT_AT DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[GetMessages]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetMessages]
    @ConversationId INT,
    @UserId INT,
    @Take INT = 50
AS
BEGIN
    SET NOCOUNT ON;

    -- 1) Provera članstva u konverzaciji
    IF NOT EXISTS (
        SELECT 1
        FROM dbo.CONVERSATION_MEMBERS
        WHERE CONVERSATION_ID = @ConversationId
          AND USERS_ID = @UserId
    )
    BEGIN
        RAISERROR (50003, 16, 1); -- Not a member of conversation
        RETURN;
    END

    -- 2) Vrati poslednjih @Take poruka
    SELECT TOP (@Take)
        m.MESSAGES_ID      AS messageId,
        m.CONVERSATION_ID  AS conversationId,
        m.FROM_USERS_ID    AS fromUserId,
        m.TO_USERS_ID      AS toUserId,

        CASE 
            WHEN m.IS_DELETED = 1 THEN N'Poruka je obrisana'
            ELSE m.MESSAGE_TEXT
        END AS text,

        m.SENT_AT          AS sentAt,
        m.DELIVERED_AT     AS deliveredAt,
        m.SEEN_AT          AS seenAt,
        m.IS_DELETED       AS isDeleted
    FROM dbo.MESSAGES m
    WHERE m.CONVERSATION_ID = @ConversationId
    ORDER BY m.SENT_AT DESC, m.MESSAGES_ID DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[GetMessagesByConversation]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetMessagesByConversation]
    @ConversationId INT,
    @UserId INT,
    @Take INT = 50
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (
        SELECT 1 FROM dbo.CONVERSATION_MEMBERS
        WHERE CONVERSATION_ID=@ConversationId AND USERS_ID=@UserId
    )
    BEGIN
        RAISERROR('Not a member of conversation', 16, 1);
        RETURN;
    END

    SELECT TOP (@Take)
        MESSAGES_ID,
        CONVERSATION_ID,
        FROM_USERS_ID,
        TO_USERS_ID,
        MESSAGE_TEXT,
        SENT_AT
    FROM dbo.MESSAGES
    WHERE CONVERSATION_ID=@ConversationId
    ORDER BY SENT_AT DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetMyConversations]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetMyConversations]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        c.CONVERSATION_ID,
        c.IS_GROUP,
        c.TITLE,
        c.UPDATED_AT,

        PeerUserId =
            CASE
                WHEN c.IS_GROUP = 0 AND c.DM_USER1_ID = @UserId THEN c.DM_USER2_ID
                WHEN c.IS_GROUP = 0 AND c.DM_USER2_ID = @UserId THEN c.DM_USER1_ID
                ELSE NULL
            END,

        UnreadCount =
        (
            SELECT COUNT(*)
            FROM dbo.MESSAGES msg
            WHERE msg.CONVERSATION_ID = c.CONVERSATION_ID
              AND msg.FROM_USERS_ID <> @UserId
              AND (m.LAST_READ_AT IS NULL OR msg.SENT_AT > m.LAST_READ_AT)
        ),

        LastMessageText =
        (
            SELECT TOP 1 msg2.MESSAGE_TEXT
            FROM dbo.MESSAGES msg2
            WHERE msg2.CONVERSATION_ID = c.CONVERSATION_ID
            ORDER BY msg2.SENT_AT DESC
        ),

        LastMessageAt =
        (
            SELECT TOP 1 msg3.SENT_AT
            FROM dbo.MESSAGES msg3
            WHERE msg3.CONVERSATION_ID = c.CONVERSATION_ID
            ORDER BY msg3.SENT_AT DESC
        )
    FROM dbo.CONVERSATION_MEMBERS m
    JOIN dbo.CONVERSATIONS c ON c.CONVERSATION_ID = m.CONVERSATION_ID
    WHERE m.USERS_ID = @UserId
    ORDER BY c.UPDATED_AT DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetNotifications]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetNotifications]
    @UserId INT,
    @Take INT = 50
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP (@Take)

        n.NOTIFICATIONS_ID        AS NotificationId,
        n.FROM_USERS_ID           AS FromUserId,
        u.USERNAME                AS FromUsername,
        n.TO_USERS_ID             AS ToUserId,
        n.POSTS_ID                AS PostId,
        n.NOTIFICATION_TEXT       AS Text,
        CAST(n.[READ] AS bit)     AS IsRead,
        n.NOTIFICATION_CREATED_AT AS CreatedAt

    FROM dbo.NOTIFICATIONS n
    LEFT JOIN dbo.USERS u ON u.USERS_ID = n.FROM_USERS_ID

    WHERE n.TO_USERS_ID = @UserId
    ORDER BY n.NOTIFICATION_CREATED_AT DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[GetOrCreateDmConversation]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetOrCreateDmConversation]
    @UserId INT,
    @OtherUserId INT
AS
BEGIN
    SET NOCOUNT ON;

    IF @UserId = @OtherUserId
    BEGIN
        RAISERROR('Cannot DM yourself', 16, 1);
        RETURN;
    END

    -- block check (oba smera)
    IF EXISTS (
        SELECT 1 FROM dbo.USER_RELATIONSHIPS
        WHERE STATUS='blocked'
          AND (
            (FROM_USERS_ID=@UserId AND TO_USERS_ID=@OtherUserId) OR
            (FROM_USERS_ID=@OtherUserId AND TO_USERS_ID=@UserId)
          )
    )
    BEGIN
        RAISERROR('User is blocked', 16, 1);
        RETURN;
    END

    DECLARE @u1 INT = CASE WHEN @UserId < @OtherUserId THEN @UserId ELSE @OtherUserId END;
    DECLARE @u2 INT = CASE WHEN @UserId < @OtherUserId THEN @OtherUserId ELSE @UserId END;

    DECLARE @ConversationId INT;

    SELECT @ConversationId = CONVERSATION_ID
    FROM dbo.CONVERSATIONS
    WHERE IS_GROUP=0 AND DM_USER1_ID=@u1 AND DM_USER2_ID=@u2;

    IF @ConversationId IS NULL
    BEGIN
        INSERT INTO dbo.CONVERSATIONS(IS_GROUP, DM_USER1_ID, DM_USER2_ID)
        VALUES(0, @u1, @u2);

        SET @ConversationId = SCOPE_IDENTITY();

        INSERT INTO dbo.CONVERSATION_MEMBERS(CONVERSATION_ID, USERS_ID)
        VALUES(@ConversationId, @u1), (@ConversationId, @u2);
    END

    SELECT @ConversationId AS CONVERSATION_ID;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetUnreadNotificationsCount]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetUnreadNotificationsCount]
  @UserId INT
AS
BEGIN
  SET NOCOUNT ON;

  SELECT COUNT(1) AS UnreadCount
  FROM dbo.NOTIFICATIONS
  WHERE TO_USERS_ID = @UserId
    AND [READ] = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[LikePost]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* 4) LIKE / UNLIKE */

CREATE   PROCEDURE [dbo].[LikePost]
    @UserId INT,
    @PostId INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @PostOwnerId INT;
    SELECT @PostOwnerId = USERS_ID
    FROM dbo.POSTS
    WHERE POSTS_ID = @PostId;

    IF @PostOwnerId IS NULL
        THROW 50004, 'Post not found.', 1;

    IF dbo.IsBlockedBetweenUsers(@UserId, @PostOwnerId) = 1
        THROW 50001, 'User is blocked.', 1;

    IF EXISTS (SELECT 1 FROM dbo.LIKES WHERE USERS_ID=@UserId AND POSTS_ID=@PostId)
        RETURN;

    INSERT INTO dbo.LIKES (USERS_ID, POSTS_ID)
    VALUES (@UserId, @PostId);
END;
GO
/****** Object:  StoredProcedure [dbo].[MarkConversationDelivered]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[MarkConversationDelivered]
    @ConversationId INT,
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (
        SELECT 1 FROM dbo.CONVERSATION_MEMBERS
        WHERE CONVERSATION_ID = @ConversationId
          AND USERS_ID = @UserId
    )
    BEGIN
        RAISERROR (50003, 16, 1);
        RETURN;
    END

    UPDATE dbo.MESSAGES
    SET DELIVERED_AT = GETDATE()
    WHERE CONVERSATION_ID = @ConversationId
      AND TO_USERS_ID = @UserId
      AND DELIVERED_AT IS NULL
      AND IS_DELETED = 0;

    SELECT @@ROWCOUNT AS markedCount;
END
GO
/****** Object:  StoredProcedure [dbo].[MarkConversationRead]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[MarkConversationRead]
    @ConversationId INT,
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Provera članstva
    IF NOT EXISTS (
        SELECT 1 FROM CONVERSATION_MEMBERS
        WHERE CONVERSATION_ID = @ConversationId
          AND USERS_ID = @UserId
    )
    BEGIN
        RAISERROR ('Not a member of conversation', 16, 1);
        RETURN;
    END

    UPDATE MESSAGES
    SET SEEN_AT = GETDATE()
    WHERE CONVERSATION_ID = @ConversationId
      AND TO_USERS_ID = @UserId
      AND SEEN_AT IS NULL
      AND IS_DELETED = 0;

    SELECT @@ROWCOUNT AS markedCount;
END
GO
/****** Object:  StoredProcedure [dbo].[MarkNotificationsAsRead]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[MarkNotificationsAsRead]
  @UserId INT
AS
BEGIN
  SET NOCOUNT ON;

  UPDATE dbo.NOTIFICATIONS
  SET [READ] = 1
  WHERE TO_USERS_ID = @UserId
    AND [READ] = 0;

  -- opcionalno: korisno za debug / UI
  SELECT @@ROWCOUNT AS Updated;
END
GO
/****** Object:  StoredProcedure [dbo].[MigratePlainPasswords]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MigratePlainPasswords]
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE USERS
    SET
        PASSWORD_SALT = CRYPT_GEN_RANDOM(32),
        PASSWORD_HASH = HASHBYTES(
            'SHA2_256',
            CONVERT(VARBINARY(256), PASSWORD) + CRYPT_GEN_RANDOM(32)
        )
    WHERE PASSWORD_HASH IS NULL;
END;
GO
/****** Object:  StoredProcedure [dbo].[RemoveLike]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[RemoveLike]
    @UserId INT,
    @PostId INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM LIKES
    WHERE USERS_ID = @UserId
      AND POSTS_ID = @PostId;
END
GO
/****** Object:  StoredProcedure [dbo].[SendMessage]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SendMessage]
    @FromUserID INT,
    @ToUserID INT,
    @MessageText TEXT
AS
BEGIN
    DECLARE @MessageID INT;

    BEGIN TRANSACTION;

    -- Ubacivanje poruke u tabelu MESSAGES
    INSERT INTO MESSAGES (MESSAGES_ID, FROM_USERS_ID, TO_USERS_ID, MESSAGE_TEXT)
    VALUES ((SELECT ISNULL(MAX(MESSAGES_ID), 0) + 1 FROM MESSAGES), @FromUserID, @ToUserID, @MessageText);

    -- Dobijanje ID-a nove poruke
    SET @MessageID = SCOPE_IDENTITY();

    -- Ubacivanje obaveštenja za primaoca
    INSERT INTO NOTIFICATIONS (NOTIFICATIONS_ID, FROM_USERS_ID, TO_USERS_ID, NOTIFICATION_TEXT, [READ])
    VALUES ((SELECT ISNULL(MAX(NOTIFICATIONS_ID), 0) + 1 FROM NOTIFICATIONS), @FromUserID, @ToUserID, 'Primili ste novu poruku.', 0);

    COMMIT TRANSACTION;
END;
GO
/****** Object:  StoredProcedure [dbo].[SendMessageToConversation]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SendMessageToConversation]
    @ConversationId INT,
    @FromUserId INT,
    @MessageText NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ToUserId INT;

    SELECT 
        @ToUserId = CASE
            WHEN DM_USER1_ID = @FromUserId THEN DM_USER2_ID
            WHEN DM_USER2_ID = @FromUserId THEN DM_USER1_ID
            ELSE NULL
        END
    FROM CONVERSATIONS
    WHERE CONVERSATION_ID = @ConversationId;

    IF @ToUserId IS NULL
    BEGIN
        RAISERROR (50003, 16, 1); -- Not a member of conversation
        RETURN;
    END

    IF EXISTS (
        SELECT 1 FROM USER_RELATIONSHIPS
        WHERE (
                (FROM_USERS_ID = @FromUserId AND TO_USERS_ID = @ToUserId)
             OR (FROM_USERS_ID = @ToUserId   AND TO_USERS_ID = @FromUserId)
              )
          AND STATUS = 'blocked'
    )
    BEGIN
        RAISERROR (50001, 16, 1); -- blocked
        RETURN;
    END

    INSERT INTO MESSAGES
        (CONVERSATION_ID, FROM_USERS_ID, TO_USERS_ID, MESSAGE_TEXT, SENT_AT)
    VALUES
        (@ConversationId, @FromUserId, @ToUserId, @MessageText, GETDATE());

    SELECT SCOPE_IDENTITY() AS MESSAGE_ID;
END
GO
/****** Object:  StoredProcedure [dbo].[ThrowAppError]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ThrowAppError]
    @ErrorNumber INT,
    @Message NVARCHAR(2048)
AS
BEGIN
    -- RAISERROR format: (message, severity, state)
    -- Severity 16 = user error
    RAISERROR (@Message, 16, 1) WITH NOWAIT;

    -- Ovo je bitno: prebacimo error number kroz sys.messages (alternativa: define messages)
    -- Jednostavnije: odmah RAISERROR sa brojem, ali to traži definisan message_id u sys.messages.
END
GO
/****** Object:  StoredProcedure [dbo].[UnblockUser]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[UnblockUser]
    @FromUserId INT,
    @ToUserId   INT
AS
BEGIN
    DELETE FROM USER_RELATIONSHIPS
    WHERE FROM_USERS_ID = @FromUserId
      AND TO_USERS_ID   = @ToUserId
      AND STATUS = 'blocked';
END
GO
/****** Object:  StoredProcedure [dbo].[UnfollowUser]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[UnfollowUser]
    @FromUserId INT,
    @ToUserId   INT
AS
BEGIN
    DELETE FROM USER_RELATIONSHIPS
    WHERE FROM_USERS_ID = @FromUserId
      AND TO_USERS_ID   = @ToUserId
      AND STATUS = 'following';
END
GO
/****** Object:  StoredProcedure [dbo].[UnlikePost]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[UnlikePost]
    @UserId INT,
    @PostId INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM dbo.LIKES
    WHERE USERS_ID = @UserId AND POSTS_ID = @PostId;
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateComment]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[UpdateComment]
    @CommentId INT,
    @UserId INT,
    @NewText NVARCHAR(MAX)
AS
BEGIN
    IF NOT EXISTS (
        SELECT 1 FROM COMMENTS
        WHERE COMMENTS_ID = @CommentId
          AND USERS_ID = @UserId
    )
    BEGIN
        RAISERROR (50011, 16, 1); -- not allowed
        RETURN;
    END

    UPDATE COMMENTS
    SET COMMENT_TEXT = @NewText
    WHERE COMMENTS_ID = @CommentId;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateProfilePic]    Script Date: 19/03/2026 16:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[UpdateProfilePic]
    @UserId INT,
    @ProfilePic NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.USERS
    SET PROFILE_PIC = @ProfilePic,
        UPDATED_AT = GETDATE()
    WHERE USERS_ID = @UserId;
END;
GO
